<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="https://kit.fontawesome.com/076518b476.js" crossorigin="anonymous"></script>
 
</head>

<body>

   {{>header}}

<section class="background-1">
<div class="hello-1">Hello!</div>
<div class="hello-2">I'm CHEN-AN!</div>
</section>

<section class="introduction">
<div class="overflow-auto">
<span class="context-1">Hello!</span><br>
我是周宸安，畢業於臺北醫學大學，保健營養學系。<br>
透過工作機會我接觸到了醫療科技在社區據點及居家照護上的應用，<br>
發現其實醫學背景在軟體領域中發展也有很多可能性，<br>
且事實上這樣跨領域的照護轉型也是目前的趨勢，<br>
所以在工作之餘開始自學了半年的程式語言。<br>
期待自己能成為一名開發醫療、長照相關產品的軟體工程師。
</div>

</section>

<section>
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>

  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../img/IMG_7252.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <span class="subtitle-C"> 您好！我是周宸安。 </span><br>
        <span class="subtitle-E"> Hello! I'm CHEN-AN, CHOU.</span>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../img/0X15Y8P4TjqwWwA2aF1uRA.jpeg" class="d-block w-100" alt="...">
      <img src="" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <span class="subtitle-C"> 畢業於臺北醫學大學，保健營養學系。 </span><br>
        <span class="subtitle-E"> Graduated form Taipei Medical University and majored in Nutrition and Health Science.</span>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../img/dsc_3043_40414647675_o.jpeg" class="d-block w-100" alt="...">
      <img src="" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <span class="subtitle-C"> 大學時期加入山地社會醫療服務團，於南投縣仁愛鄉進行社區關懷及巡迴醫療服務。 </span><br>
        <span class="subtitle-E"> I've been the member of TMU SUNFU, which conducted community care and medical services in Nantou.</span>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../img/IMG_0229.JPG" class="d-block w-100" alt="...">
      <img src="" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <span class="subtitle-C">曾任新光吳火獅紀念醫院的營養實習生。</span><br>
        <span class="subtitle-E">Being an intern in the nutritional services department at SHIN KONG WU HO SU Memorial Hospital.</span>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../img/IMG_3730.jpeg" class="d-block w-100" alt="...">
      <img src="" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <span class="subtitle-C">以及中化銀髮事業股份有限公司的長照教育訓練專員。</span><br>
        <span class="subtitle-E">In addition, implemented healthcare training programs to caregivers.</span>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../img/IMG_5436.jpeg" class="d-block w-100" alt="...">
      <img src="" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <span class="subtitle-C">我樂於挑戰並享受過程中的挫折與攻克的成就感。</span><br>
        <span class="subtitle-E">Willing to challenge and enjoying the frustration in the process.</span>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../img/IMG_5380.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <span class="subtitle-C">期待能結合醫學專業，成為一位能開發醫療、長照相關產品的軟體工程師。</span><br>
        <span class="subtitle-E">Looking forward to combining medical profession with programming and becoming a software engineer.</span>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


</section>

<span class="context-2">Video</span>

<section class="video">
  <div class="videobox">
    <iframe src="https://www.youtube.com/embed/NV8vSQygvhc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="videobox">
    <iframe src="https://www.youtube.com/embed/EGUHZzLi7u4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="videobox">
    <iframe src="https://www.youtube.com/embed/pT9qrQ8s9Ew" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</section>
  
        

          










 

   {{>footer}} 
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="/js/app.js"></script>

</body>
</html>