<header>

<h1>{{title}}</h1>
<nav>
  <div class="nav-left">
  <a href="/">Weather</a>
  <a href="/about">About</a>
  <a href="/help">Contact</a>
  </div>
  <div class="nav-right">
  <a href="www.linkedin.com/in/chen-an-chou-925750195"><i class="fab fa-linkedin" id="linkedin-icon"></i></a> 
  </div>
  
</nav>

</header>