body {
  color: #333;
  font-family: Futura, Arial, Helvetica, sans-serif;
  max-width: 80%;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888;
  border-top: 3px solid #d8e2dc;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 30px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
  font-weight: bold;
  color: #4b4f41;
}

header a {
  color: #888;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 250px;
}

input {
  border: 1px solid #cccccc;
  border-radius: 2.5em;
  padding: 8px;
  font-family: Futura, Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  border: 1px solid #e5e5e5;
  border-radius: 2.5em;
  background: #f0efeb;
  color: black;
  padding: 8px;
  font-family: Futura, Arial, Helvetica, sans-serif;
}

.background-1 {
  width: 100%;
  height: 500px;
  background: url(../img/IMG_8958.JPG);
  background-size: cover;
  margin: 0, auto, 100px;
  background-attachment: scroll;
}

.hello-1 {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  margin: 30px 0 10px 30px;
  padding-left: 25px;
  border-left: 10px solid white;
}
.hello-2 {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 30px;
  margin-top: 1px;
  padding-left: 25px;
  border-left: 10px;
  border-left: 10px solid transparent;
}

.introduction {
  width: 100%;
  height: 300px;
  margin: 10, auto;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

.carousel .carousel-item {
  height: 400px;
}

.carousel .carousel-item img {
  margin-top: 5px;
  min-height: 400px;
  max-height: 500px;
  object-fit: cover;
}

.carousel .carousel-item span {
  line-height: 30px;
}

.subtitle-C {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  background-color: rgb(40, 40, 40);
}
.subtitle-E {
  font-size: 15px;
  background-color: rgb(40, 40, 40);
  font-weight: 500;
}

.overflow-auto {
  width: 100%;
  padding: 15px;
  background-color: #f0efeb;
  border-left: 5px solid #a5a58d;
  line-height: 29px;
  overflow: hidden;
  white-space: nowrap;
}
.context-1 {
  font-size: 30px;
  font-family: Futura;
}

.video {
  background-color: #f0efeb;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  border-left: 5px solid #a5a58d;
  margin-bottom: 30px;
}

.context-2 {
  line-height: 30px;
  margin-top: 30px;
  padding-top: 20px;
  font-size: 30px;
  font-family: Futura;
  background-color: #f0efeb;
  text-align: center;
  border-left: 5px solid #a5a58d;
}

@media (max-width: 1250px) {
  .videobox {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }

  .videobox iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 800px) {
  .input-up,
  .input-down {
    width: 100%;
    height: 0;
  }
}

.input-up {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 5px solid #a5a58d;
  background: #f0efeb;
  margin-bottom: 50px;
}

.input-down {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 5px solid #a5a58d;
  background: #f0efeb;
  margin-bottom: 30px;
}

.label-flex {
  display: flex;
  flex-direction: column;
}

.label-css {
  margin-bottom: 3px;
}

.for-submit {
  text-align: center;
  margin-bottom: 13px;
}

.for-submit-button {
  font-size: larger;
  width: 200px;
  cursor: pointer;
  border: 3px solid #e5e5e5;
  border-radius: 2.5em;
  background: #f0efeb;
  color: black;
  padding: 8px;
  margin: 0 auto;
  font-family: Futura, Arial, Helvetica, sans-serif;
}

.for-submit-button:hover {
  background: #a5a58d;
  border: 3px solid #6b705c;
  transition: 0.2s;
  color: #ffffff;
}

h3 {
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#icon {
  font-size: 30px;
}

#icon:hover {
  transition: 0.2s;
  color: #81b29a;
}

nav {
  position: relative;
}

.nav-left {
  display: inline-block;
  box-sizing: border-box;
}

.nav-right {
  display: inline-block;
  position: absolute;
  right: 0px;
  align-items: center;
}
